.cards {
  margin: 82px 70px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards__button {
  margin: 44px 0 0;
  width: 100%;
  height: 36px;
  background: #F9F9F9;
  color: #000;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition: opacity .2s linear;
}

.cards__button:hover {
  opacity: .6;
  cursor: pointer;
}

.cards__message {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #426BA8;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 1100px) {
  .cards__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media screen and (max-width: 840px) {
  .cards {
    margin: 81px 30px 80px;
  }

  .cards__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .cards__button {
    margin-top: 61px;
  }
}

@media screen and (max-width: 540px) {
  .cards {
    margin: 50px 10px 80px;
  }

  .cards__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .cards__button {
    margin-top: 57px;
  }
}
