.card {
  margin: 0 0 16px 0;
  padding: 0;
  overflow: hidden;
}

.card__image-content {
  width: 100%;
  height: 151px;
}

.card__image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  cursor: pointer;
}

.card__element {
  margin: 15px 0 0;
  height: 32px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.card__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  overflow: hidden;
}

.card__button {
  margin: -4px 0 0;
  padding: 0;
  background: transparent url(../../images/movies/card-like.svg) center / 24px no-repeat;
  min-width: 24px;
  height: 24px;
  border: none;
  outline: none;
  transition: background-color 0.6s ease-in-out;
}

.card__button:hover {
  cursor: pointer;
}

.card__button_active {
  margin: -4px 0 0;
  padding: 0;
  background: transparent url(../../images/movies/card-like_active.svg) center / 24px no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  transition: background-color 0.6s ease-in-out;
}

.card__button-delete {
  margin: -4px 0 0;
  padding: 0;
  background: transparent;
  min-width: 24px;
  height: 24px;
  border: none;
  outline: none;
}

.card:hover .card__button-delete {
  background: transparent url(../../images/movies/card-dislike.svg) center / 24px no-repeat;
  opacity: .6;
  cursor: pointer;
}

.card__duration {
  margin: 13px 0 0 0;
  padding-top: 7px;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border-top: 1px solid #E8E8E8;
}

@media screen and (max-width: 840px) {
  .card {
    margin-bottom: -2px;
    padding: 0;
    overflow: hidden;
}
  .card__image-content {
    height: 190px;
  }
}

@media screen and (max-width: 480px) {
  .card__image-content {
    display: block;
    height: 168px;
  }
  .card__element {
    margin-top: 14px;
  }

  .card__duration {
    padding-top: 6px;
  }

  .card {
    margin-bottom: 3px;
  }

  .card__image {
    width: inherit;
}

  .card__button-delete {
    background: transparent url(../../images/movies/card-dislike.svg) center / 24px no-repeat;
  }
}
