.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-404__container {
  text-align: center;
}

.page-404__title {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.page-404__text {
  margin-top: 5px;
  font-size: 16px;
  line-height: 19px;
}

.page-404__link {
  margin-top: 168px;
  border: none;
  background-color: transparent;
  color: #426BA8;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

.page-404__link:focus {
  outline: 1px solid #00000060;
  border-radius: 3px;
}

.page-404__link:hover {
  text-shadow: 0 4px 3px #00000060;
}

@media screen and (max-width: 480px) {
    .page-404__title {
      font-size: 80px;
      line-height: 97px;
    }

    .page-404__text {
      margin-top: 9px;
      font-size: 12px;
      line-height: 15px;
    }

    .page-404__link {
      margin-top: 271px;
      font-size: 12px;
      line-height: 15px;
    }
}
