@import url(./vendor/fonts/inter.css);
@import url(./vendor/normalize.css);

.root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.root_type_hidden {
  overflow : hidden;
  /* запретиnm скролл при открытом popup*/
}
